body {
    width: 1020px;
    font-family: "PT Sans Narrow"; /* установить шрифт */
    font-size: 40px;
}

li {
    list-style-type: none; /* Убираем маркеры */
}



.main-index {
    background-image: url("img/bg-image.jpg");
    color: white;
}


/* КАТАЛОГ */

.navigation-logo {
    background-color: black;
    margin: 10px;
    padding: 10px;
}