@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PTSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PTSans-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-BoldItalic.woff2") format("woff2");
}

/* PT Sans Narrow */


@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-Narrow-Bold.woff2") format("woff2");
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #FBF7F4;
}


.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}



.page-header {
    color: #FFFFFF;
    background: #000000;
}

.nav-link {
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    background: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}


.main-index {
    color: #FFFFFF;
    background: #000000;
    background-image: url("/img/bg-image.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}

/* ПРЕИМУЩЕСТВА */
.advantages-list {
    text-align: center;
}

.advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}


/* Index columns */

.index-columns {
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("/");
}

.services {
    text-transform: uppercase;
}

.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.services-prices {
    color: #AF7842;
}

.gallery-title {
    line-height: 35px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}


.contacts {
    font-weight: 700;
}

.contacts-title {
    line-height: 35px;
    font-size: 32px;
}

.contacts-subtitle {
}
.contacts-address-text {
}
.contacts-phone {
}

/* Получившейся обёртке зададим фоновое изображение, фоновый цвет и цвет текста. - ГДЕ ТАМ ФОНОВОЕ ИЗОБРАЖЕНИЕ????!!!! */

/* КАТАЛОГ */



/* from eCSSTractor

.navigation {
}
.nav-list {
}
.nav-item {
}
.nav-user {
}
.visually-hidden {
}
.logo {
}
.advantages {
}
.advantages-item {
}
.advantages-description {
}

.services-item {
}
.services-name {
}


.button-all {
}
.gallery {
}

.slider-image {
}
.slider-button {
}
.slider-prev {
}
.slider-next {
}
.slider-pagination {
}
.slider-pagination-item {
}
.slider-pagination-button {
}
.slider-pagination-button-current {
}
.contacts-schedule {
}
.contacts-schedule-item {
}
.button-feedback {
}
.appointment {
}
.appointment-title {
}
.appointment-form {
}
.appointment-form-date {
}
.form-label {
}
.form-label-icon {
}
.info {
}
.appointment-form-time {
}
.appointment-form-phone {
}
.appointment-form-name {
}
.page-footer {
}
.footer-contacts {
}
.footer-logo {
}
.footer-address {
}
.footer-address-text {
}
.footer-phone {
}
.footer-contacts-map-link {
}
.newsletter {
}
.page-footer-title {
}
.newsletter-form {
}
.newsletter-email {
}
.field {
}
.newsletter-button {
}
.footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.about-text {
}
.htmlacademy-link {
}
