@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PTSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PTSans-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("/fonts/PTSans-Italic.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("/fonts/PTSans-BoldItalic.woff2") format("woff2");
    font-display: swap;
}

/* PT Sans Narrow */
@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/PTSans-Narrow-Bold.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
  }
  

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #fbf7f4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    /* MDN про clip: Deprecated: This feature is no longer recommended.  https://developer.mozilla.org/en-US/docs/Web/CSS/clip*/
    overflow: hidden;
}


/* Button */
.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

/* Light */
.button-light,
.button-current {
  color: #242424;
  background-color: #ffffff;
}

/* Next */
.button-all,
.button-next {
  padding-right: 44px;
  background-image: url("/img/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center right 20px;
}

.button:hover,
.footer-social-link:hover {
  background-color: #814b18;
}

.button:focus,
.footer-social-link:focus {
  outline: 2px solid #dbb590;
  background-color: #4e2e0e;
}

.button-disabled,
.button:disabled {
  color: #e7e7e7;
  background-color: #595959;
}

.button-disabled:focus,
.button-disabled:hover,
.button:disabled:hover {
  background-color: #595959;
  outline: none;
  cursor: default;
}

.button + .button {
  margin-left: 16px;
}

/* Light */
.button-feedback,
.button-current {
  color: #000000;
  background-color: #ffffff;
}

.button-feedback:hover,
.button-current:hover {
  background-color: #dbb590;
}

.button-feedback:focus,
.button-current:focus {
  outline: 2px solid #af7842;
  background-color: #dbb590;
}

.button-feedback.button-disabled,
.button-current.button-disabled {
  color: #e7e7e7;
  background-color: #595959;
}

/* Pages */
.page-header {
  color: #ffffff;
  background: #000000;
}

.navigation {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Задача: сделать так, чтобы элементы шли друг за другом, и учесть переполнение элементами.

Здесь мы учитываем переполнение пунктами меню, так как их может стать больше. Заказчик может захотеть добавить новую страницу, и нам нужно это учесть.

Чтобы элементы шли друг за другом, достаточно указать display: flex и создать ось, где будут располагаться блоки.
*/

.nav-item {
  position: relative;
}

.nav-link {
  position: relative;
  display: block;
  padding: 24px 19px;
  font-family: "PT Sans Narrow", sans-serif;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  background-color: #595959;
}

.nav-link:focus {
  box-shadow: inset 0 0 0 4px #e7e7e7;
  outline: none;
}

/* Стили есть, а класс такого в разметке нет в демке от Академии */
.nav-link-current::before {
  position: absolute;
  right: 20px;
  bottom: 0;
  left: 20px;
  height: 4px;
  background-color: #ffffff;
  content: "";
}

.nav-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #dbdbdb;
}

.nav-link:hover .nav-icon {
  fill: #242424;
}

.nav-link:focus .nav-icon {
  fill: #dbdbdb;
}

/* Стили есть, а класс такого в разметке нет в демке от Академии */
.nav-logo {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 100px;
}

.nav-user {
  width: auto;
  margin-left: auto;
  max-width: 280px;
}

.nav-user .nav-link {
  min-width: 16px;
  min-height: 22px;
  /* Для увеличения области клика пользовательских ссылки в навигации увеличим их размер по размеру иконок, так вне зависимости от наполнения ссылок: иконки или текст, размер всегда будет по макету. */
}

.nav-link-login {
  padding-left: 44px;
}

.nav-link-login .nav-icon {
  position: absolute;
  right: auto;
  left: 20px;
  margin: auto 0;
}

/* ПРОДДОЛЖИТЬ ЗДЕСЬ */
.main-container {
    flex-grow: 1;
    padding-top: 64px; 
    padding-bottom: 60px;
}


.main-index {
    color: #FFFFFF;
    background-color: #000000;
    background-image: url('/index-bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;

}

/* ПРЕИМУЩЕСТВА */
.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 58px;
    list-style-type: none;
}

.advantages-item {
    width: 277px;
}

.advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages-description {
    margin: 0;
}

/* Index columns */

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("img/bg-noisy.png");
    margin-bottom: 32px;
    padding: 40px;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.services {
    width: 390px;
    text-transform: uppercase;
}

.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.services-prices {
    color: #AF7842;
}

.gallery {
    width: 390px;
}

/* Title */

.gallery-title {
    margin-top: 0;
    margin-bottom: 28px;   
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-image {
  display: block;
}

.slider-wrapper {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateY(-50%);
}

.slider-button {
  width: 48px;
  height: 60px;
  color: #FFFFFF;
  background-color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("img/arrow-right.svg");
  /* стрелки не видно на странице */
  background-position: center;
  background-repeat: no-repeat;

}

.slider-button:hover {
  background-color: #814B18;
}

.slider-button:focus {
  outline: 2px solid #DBB590;
  background-color: #4E2E0E;
}

.slider-prev {
  transform: rotate(180deg);
}

.slider-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slider-pagination-item {
  margin: 0 4px;
}

.slider-pagination-button {
  width: 8px;
  height: 8px;
  margin: 0;
  padding: 0;
  background-color: #DBDBDB;
  border: none;
  border-radius: 50%;
  cursor: pointer;
} 

.slider-pagination-button:hover {
  background-color: #AF7842;
}

.slider-pagination-button:focus {
  background-color: #DBB590;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #242424;
}

.contacts {
    width: 350px;
    font-weight: 700;
}

.contacts-title {
    line-height: 35px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-address-text {
    font-style: normal;
}
.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
}

.contacts-phone {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}



.appointment {
    width: 430px;
  }

.appointment-form {
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 20px;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.appointment-form  .info {
    display: none;
  }
  

.appointment-form-name {
    grid-column: 1 / -1;
    /* Чтобы растянуть эту область на весь ряд, используем свойство grid-column со значением 1 / -1. При такой записи началом области будет первая линия, а концом — последняя линия, при любом количестве грид-линий. */
}

.appointment-submit {
    grid-column: 1 / -1;
    justify-self: start;
    margin-top: 9px;
}

.appointment-title {
    margin-top: 0;
    margin-bottom: 28px; 
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.appointment-info {
    color: #595959;
  }

.form-label {
    margin-bottom: 8px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.form-label-icon {
  position: relative;
  padding-right: 16px;
}

.info {
  position: absolute;
  width: 16px;
  height: 16px;
  margin-top: 4px;
  margin-left: 2px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-image: url("img/info.svg");
  /* очередной свг не отображается на странице */
  background-repeat: no-repeat;
  background-position: center;
}

/* Field */
.field {
  margin: 0;
  padding: 8px 14px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
}

/* Hover, Focus */
.field:hover,
.field:focus {
  border-color: #AF7842;
}

.field:focus {
  outline: 2px solid #DBB590;
}

/* Disabled */
.field:disabled,
.field:disabled:hover {
  color: #595959;
  background-color: #DBB590;
  border-color: #595959;
}

/* Invalid */
.field:invalid {
  box-shadow: none;
}

.field:focus:invalid {
  border-color: #EA5454;
}

/* Placeholder */
.field::placeholder {
  color: #DBDBDB;
  opacity: 1;
}

/* Footer */

.page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url("img/bg-noisy.png"); 
    background-repeat: repeat;
}

.page-footer a {
    color: #FFFFFF;
}


.page-footer .htmlacademy-link {
    font-size: 14px;
    color: #DBB590;
}


.page-footer-title {
    margin-top: 0;
    margin-bottom: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 40px 0; 
}

.footer-address {
    font-style: normal;
}

.footer-address p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}


.footer-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts {
    width: 200px;
    margin-right: 130px;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
}

.newsletter-email {
  flex-grow: 1;
  margin: 0;
}

.newsletter-email .field {
  width: 192px;
}

.newsletter-form {
  display: flex;
}

.newsletter-button {
  width: 56px;
  height: 44px;
  background-image: url("images/arrow-tail-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social {
    margin-left: auto;
    max-width: 190px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
    width: 56px;
    height: 44px;
    /* Теперь дадим минимальные размеры для контейнеров иконок, чтобы у них было большая область клика и при меньшем размеры иконок контейнер оставался в этих минимальных размерах. */
    margin-right: 8px; 
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
  /* Для каждой третьей социальной сети убираем отступ справа. Добавим боковые отступы, чтобы социальные сети не прилипали друг к другу. Видим, что элементы перестали помещаться. Сейчас поправим. */
}


/* КАТАЛОГ */

.main-container {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;

}

.main-inner {
    padding-top: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("img/bg-noisy.png");
}



.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #FFFFFF;
}

.modal-auth {
  width: 360px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("close-button.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.auth-form .field-group {
  margin: 0;
  margin-bottom: 16px;
}

.auth-form-user-options {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
}

.auth-form-user-options .control-label {
  font-weight: 400;
}

.auth-form .field {
  width: 328px;
}

.auth-form-recovery {
  line-height: 22px;
  color: #000000;
}

.auth-form-button {
  width: 360px;
  margin-bottom: 16px;
}

.auth-form .button + .button {
  margin: 0;
}

.auth-form-register {
  width: 360px;
  color: #000000;
  background-color: #FFFFFF;
}




.inner-header-title {
    margin-top: 0;
    margin-bottom: 16px; 
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.breadcrumbs {
    margin: 0;
    padding: 0; 
    color: #242424;
    display: flex;
    list-style-type: none;
}

.breadcrumbs-link {
    color: inherit;
}

.catalog-products {
    display: flex;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

/* Group */
.catalog-filter-group {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  border: none;
}

.catalog-right-column {
    width: 700px;
}

.catalog-filter-title {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}


.catalog-filter-label {
    font-weight: 700;
}

/* Range */
.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: #242424;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #AF7842;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: 2px solid #242424;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #DBB590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #DBB590;
} 

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}



/* Control */
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/* Mark */
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #242424;
}

.control:hover .control-mark {
  border-color: #814B18;
}

.control-input:disabled + .control-mark {
  /* The “+” sign selector is used to select the elements that are placed immediately after the specified element but not inside the particular elements. Example: https://www.w3schools.com/cssref/sel_element_pluss.php */
  border-color: #242424;
}

/* добавим крестик для выбранного чекбокса */

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 7px;
  left: 2px;
  width: 12px;
  height: 2px;
  background-color: #242424;
  content: "";
}

/* Развернём линии так, чтобы получился крестик. */
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(45deg);
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

/* Для выбранной радио-кнопки добавим состояние */
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}


/* Label */
.control-label {
  line-height: 22px;
  font-weight: 700;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.sorting-container {
  display: flex;
  color: #000000;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  padding: 16px; 
}

.sorting-type {
    margin-right: auto;
}

.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}

/* Control */
.select-control {
  width: 100%;
  padding: 8px 14px;
  padding-right: 48px;
  font: inherit;
  font-weight: 700;
  background-color: #FFFFFF;
  border: 2px solid #242424;
  background-image: url("images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #AF7842;
}

.select-control:focus {
  outline: 2px solid #DBB590;
}

/* СРАВНИВАЮ СВОЙ КОД И КОД В ДЕМКЕ - НЕ ВИЖУ НЕКОТОРЫХ СЕЛЕКТОРОВ.
НАДО СКАЧАТЬ ПОСЛЕДНУЮ ВЕРСИЮ ЭТАЛОННОГО КОДА И ЕЩЕ РАЗ ВСЁ ПРОВЕРИТЬ */



/* Чтобы любые элементы были прижаты справа в блоке контейнере для <select> укажем margin-right: auto;. */

.sorting-container .button {
    width: 56px;
    height: 44px;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 220px); 
    list-style-type: none;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    gap: 20px; 
}

/* Комментарий от Академии:

Каталог на гридах свёрстан. Подведём итоги и сравним с флексами:

не нужно помнить про сложение между всем каталогом и пагинацией;
гриды сразу хорошо работают с любым количеством элементов. Не нужно подбирать свойства как с justify-content;
не нужно обнулять отступы, чтобы помещались элементы.
Итог: гридами сверстать каталалог товара проще, чем флексами. Но флексами это тоже можно сделать, просто сложнее. */

.button-light {
    color: #242424;
    background-color: #FFFFFF;
}


.product-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
}

.product-card:nth-child(3n) {
    margin-right: 0;
  }

.product-card-link {
    text-decoration: none;
}

.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-title {
    font-weight: 700;
    color: #242424;
}

.product-card-title-link {
    margin-top: 16px;
    margin-bottom: 8px;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814B18;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.product-card-button {
  margin-top: auto;
}

/* PAGINATION */

.pagination-container {
    display: flex;
    padding: 16px;
    background-color: #FFFFFF;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
}

.pagination-clear {
  background-color: transparent;
}

.pagination-show-more {
    margin-left: auto;
}

.pagination-current {
    color: #242424;
    background-color: #FFFFFF;
}

.pagination-disabled {
    background-color: #595959;
}

.popover {
  /* Зададим блоку position:absolute, чтобы вытащить блок из потока на отдельный слой. Для простоты вычисления размеров блока зададим box-sizing: border-box для смены модели расчёта размеров. */
  /* Если у блока задан position: absolute, то браузер рассчитывает размещение этого блока относительно любого другого блока, у которого есть position отличный от static. Если ни в одном из родительских блоков такого свойства нет, то положение блока рассчитывается относительно <body>.
  Для выставления блока относительно кнопки с корзиной добавим блоку navigation-item свойство position: relative. */
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  width: 300px;
  padding: 40px;
  font-family: "PT Sans Narrow", sans-serif;
  color: #242424;
  background-color: #FFFFFF;
  min-height: 186px;
  box-shadow: 0 18px 40px rgba(79, 70, 60, 0.16);
  display: none;
  /* Скроем поповер. Теперь мы можем добавлять или удалять класс для отображения и скрытия блока с корзиной. */
}

.popover-close-button {
  /* Так как у родителя стоит position: absolute, то кнопка будет позиционироваться относительно этого окна. */
  position: absolute;
  top: 0;
  right: 0;
  width: 72px;
  height: 70px;
}

.popover-cart {
  width: 420px;
}

.popover-cart .popover-close-button {
  padding-left: 44px;
  background-image: url("img/cart-popover.svg");
  background-repeat: no-repeat;
  background-position: 22px center;
}

.popover-content {
  height: 100%;
}

.popover-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 35px;
  color: #000000;
  text-transform: uppercase;
}

.cart-item {
  display: grid;
  grid-template-columns: 284px 56px;
}

.cart-item + .cart-item {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px dashed #595959;
}

.cart-item-title {
  margin-top: 0;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: #242424;
  text-transform: uppercase;
}

.cart-item-price {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  color: #AF7842;
}

.cart-item .button {
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}


