@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/PTSans-Regular.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/PTSans-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-BoldItalic.woff2") format("woff2");
}

/* PT Sans Narrow */


@font-face {
    font-family: "PT Sans Narrow";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/PTSans-Narrow-Bold.woff2") format("woff2");
}

html {
    height: 100%;
  }
  

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
    background-color: #FBF7F4;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    /* MDN про clip: Deprecated: This feature is no longer recommended.  https://developer.mozilla.org/en-US/docs/Web/CSS/clip*/
    overflow: hidden;
}

.button {
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0;
}

/* Pages */

.page-header {
    color: #FFFFFF;
    background: #000000;
}

.navigation {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Задача: сделать так, чтобы элементы шли друг за другом, и учесть переполнение элементами.

Здесь мы учитываем переполнение пунктами меню, так как их может стать больше. Заказчик может захотеть добавить новую страницу, и нам нужно это учесть.

Чтобы элементы шли друг за другом, достаточно указать display: flex и создать ось, где будут располагаться блоки.
*/

.nav-user {
    max-width: 250px;
    margin-left: auto;
}

.nav-user .nav-link {
    min-width: 16px;
    min-height: 22px;
    /* Для увеличения области клика пользовательских ссылки в навигации увеличим их размер по размеру иконок, так вне зависимости от наполнения ссылок: иконки или текст, размер всегда будет по макету. */

}

.nav-link {
    display: block; 
    /* поменяли display, чтобы сработали отступы по вертикали  */
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 22px;
    color: #FFFFFF; /* color: inherit также можно*/
    text-align: center;
    background: #000000;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 24px 19px;
}

.navigation-logo {
  width: 140px;
  margin-right: 100px;
}

.main-container {
    flex-grow: 1;
    padding-top: 64px; 
    padding-bottom: 60px;

}


.main-index {
    color: #FFFFFF;
    background: #000000;
    background-image: url("/img/bg-image.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 64px;

}

/* ПРЕИМУЩЕСТВА */
.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 58px;
    list-style-type: none;
}

.advantages-item {
    width: 277px;
}

.advantages-title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.advantages-description {
    margin: 0;
}

/* Index columns */

.index-columns {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("/img/bg-noisy.png");
    margin-bottom: 32px;
    padding: 40px;
}

.index-columns:last-child {
  margin-bottom: 0;
}

.services {
    width: 390px;
    text-transform: uppercase;
}

.services-title {
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
}

.services-list {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
.services-prices {
    color: #AF7842;
}

.gallery {
    width: 390px;
}

/* Title */

.gallery-title {
    margin-top: 0;
    margin-bottom: 28px;   
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}


.contacts {
    width: 350px;
    font-weight: 700;
}

.contacts-title {
    line-height: 35px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.contacts-address-text {
    font-style: normal;
}
.contacts-subtitle {
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    color: #AF7842;
}

.contacts-phone {
    font-size: 24px;
    line-height: 29px;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #242424;
}



.appointment {
    width: 430px;
  }

.appointment-form {
    display: grid;
    grid-template-columns: 114px 74px 208px;
    gap: 20px;
}

.field-group {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.appointment-form  .info {
    display: none;
  }
  

.appointment-form-name {
    grid-column: 1 / -1;
    /* Чтобы растянуть эту область на весь ряд, используем свойство grid-column со значением 1 / -1. При такой записи началом области будет первая линия, а концом — последняя линия, при любом количестве грид-линий. */
}

.appointment-submit {
    grid-column: 1 / -1;
    justify-self: start;

}

.appointment-title {
    margin-top: 0;
    margin-bottom: 28px; 
    font-size: 32px;
    line-height: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.appointment-info {
    color: #595959;
  }

.form-label {
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
}


.page-footer {
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #242424;
    background-image: url("/img/bg-noisy.png"); 
    background-repeat: repeat;
}

.page-footer a {
    color: #FFFFFF;
}


.page-footer .htmlacademy-link {
    font-size: 14px;
    color: #DBB590;
}


.page-footer-title {
    margin-top: 0;
    margin-bottom: 14px;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.page-footer-container {
    display: flex;
    width: 940px;
    margin: 0 auto;
    padding: 40px 0; 
}

.footer-address {
    font-style: normal;
}

.footer-address p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}


.footer-phone {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-contacts {
    width: 200px;
    margin-right: 130px;
}

.footer-contacts-map-link {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: underline;
    text-transform: uppercase;
}

.footer-social {
    margin-left: auto;
    max-width: 190px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap; 
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
    width: 56px;
    height: 44px;
    /* Теперь дадим минимальные размеры для контейнеров иконок, чтобы у них было большая область клика и при меньшем размеры иконок контейнер оставался в этих минимальных размерах. */
    margin-right: 8px; 
    margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
  /* Для каждой третьей социальной сети убираем отступ справа. Добавим боковые отступы, чтобы социальные сети не прилипали друг к другу. Видим, что элементы перестали помещаться. Сейчас поправим. */
}


/* КАТАЛОГ */

.main-container {
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 60px;

}

.main-inner {
    padding-top: 40px;
    color: #242424;
    background-color: #FBF7F4;
    background-image: url("/img/bg-noisy.png");
}

.inner-header-title {
    margin-top: 0;
    margin-bottom: 16px; 
    font-size: 32px;
    line-height: 35px;
    text-transform: uppercase;
}

.breadcrumbs {
    margin: 0;
    padding: 0; 
    color: #242424;
    display: flex;
    list-style-type: none;
}

.breadcrumbs-link {
    color: inherit;
}

.catalog-products {
    display: flex;
}

.catalog-filter {
    width: 220px;
    margin-right: 20px;
}

.catalog-right-column {
    width: 700px;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    color: #242424;
    text-transform: uppercase;
}


.catalog-filter-label {
    font-weight: 700;
}

.sorting-container {
    color: #000000;
    background-color: #FFFFFF;
    margin-bottom: 16px;
    padding: 16px; 
    
    display: flex;
}


.sorting-type {
    margin-right: auto;
}

/* Чтобы любые элементы были прижаты справа в блоке контейнере для <select> укажем margin-right: auto;. */

.sorting-container .button {
    width: 56px;
    height: 44px;
}


.product-list {
    display: grid;
    grid-template-columns: repeat(3, 220px); 
    list-style-type: none;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    gap: 20px; 
}

/* Комментарий от Академии:

Каталог на гридах свёрстан. Подведём итоги и сравним с флексами:

не нужно помнить про сложение между всем каталогом и пагинацией;
гриды сразу хорошо работают с любым количеством элементов. Не нужно подбирать свойства как с justify-content;
не нужно обнулять отступы, чтобы помещались элементы.
Итог: гридами сверстать каталалог товара проще, чем флексами. Но флексами это тоже можно сделать, просто сложнее. */

.button-light {
    color: #242424;
    background-color: #FFFFFF;
}


.product-card {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    
}

.product-card:nth-child(3n) {
    margin-right: 0;
  }

.product-card-link {
    text-decoration: none;
}

.product-card-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-card-title {
    font-weight: 700;
    color: #242424;
}

.product-card-title-link {
    margin-top: 16px;
    margin-bottom: 8px;
}

.product-card-price {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #814B18;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.product-card-button {
  margin-top: auto;
}

/* PAGINATION */

.pagination-container {
    display: flex;
    padding: 16px;
    background-color: #FFFFFF;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 44px;
    padding: 14px 20px;
    line-height: 16px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
}

.pagination-clear {
  background-color: transparent;
}

.pagination-show-more {
    margin-left: auto;
}

.pagination-current {
    color: #242424;
    background-color: #FFFFFF;
}

.pagination-disabled {
    background-color: #595959;
}

/* from eCSSTractor



.breadcrumbs-item {
}
.catalog-products {
}
.catalog-filter {
}
.catalog-filter-group {
}
.range-toggle {
}
.toggle-min {
}
.toggle-max {
}
.catalog-filter-input {
}
.catalog-filter-list {
}
.catalog-filter-item {
}
.control {
}
.control-input {
}
.control-label {
}
.control-mark {
}
.button {
}
.select-control {
}
.product-card-image {
}
.product-card-button {
}
.pagination-item {
}
.pagination-prev {
}
.pagination-next {
}
.page-footer {
}
.footer-contacts {
}
.footer-logo {
}
.footer-address {
}
.footer-address-text {
}
.footer-phone {
}
.footer-contacts-map-link {
}
.newsletter {
}
.page-footer-title {
}
.newsletter-form {
}
.newsletter-email {
}
.field {
}
.newsletter-button {
}
.footer-social {
}
.footer-social-list {
}
.footer-social-item {
}
.about-text {
}
.htmlacademy-link {
}

